
@font-face {
    font-family: 'SpecialCondensed';
    src: url('../FONTS/SpecialGothicCondensedOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SpecialExpanded';
    src: url('../FONTS/SpecialGothicExpandedOne-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'SpecialRegular';
    src: url('../FONTS/SpecialGothic-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Kaufmann-Bold';
    src: url('../FONTS/Kaufmann-Bold.otf') format('truetype');
}



h1 {
    font-family: "SpecialExpanded";
    font-size: 32px;
    letter-spacing:3px;
    color:white;
}


h2 {
    font-family: "SpecialRegular";
    font-size: 24px;
    letter-spacing:2px;
    color:goldenrod;
}

/* Ensure overlay links are styled */
h2 a {
    color: cornflowerblue;
    text-decoration: none;
    background-color: transparent;
  }


/* Responsive overrides for text_intro */
@media screen and (max-width: 460px) {
 
    
    h1 {
        font-size:1.2em;
        letter-spacing:3px;
    }

}

@media screen and (min-width: 461px) and (max-width: 800px) {


    h1 {
        font-size:1.5em;
        letter-spacing:3px;
    }
}

@media screen and (min-width: 801px) {


    h1 {
        font-size:1.65em;
        letter-spacing:3px;
    }
}

